.movie-listing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.poster{
    width: 150px;
    height: 250px;
}

.movie-card{
    width: 250px;
    /*border: black solid 2px;*/
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-contents{
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.media-name{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}