* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Archivo Narrow", sans-serif;
}

/* This gets rid of white border that was around myy background image */
img{
    border:0;
}